* {
  box-sizing: border-box;
}
.redesbody{
  background-image: url("../images/fondoredes.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
.fondoindex{
  background-color: black;
  background-image: url("../images/redes1.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
.tituloredes{
  color:black;
  font-size: 80px;
  
}
.titulolenguajedemarcas{
  color:white;
  fontsize: 70px;
}
header {
  margin: 20px;
  padding: 50px;
  text-align: center;
  font-size: 80px;
  color:white;
}
.andy{
font-size: 85px;
  color:white;
}


nav { 
  display: flex;
  width: 50%;
  background-color:black;
  padding: 15px;
  font-size:15px;
}
nav:hover{
  background:grey;
}
/* Estilo de la lista dentro del menu */
ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: auto;
  background-color:blue;
}
li {
  float:center;
}
li a {
  display: flex;
  color:black;
  padding: 10px 10px;
  text-decoration: none;
}
li a:hover{
  background-color:white;
  color:black;
}


@media  (max-width: 320px) {
    body {
    width: 100%;
    max-width: 100%;
    height: auto;  
  } 
}
@media (max-width: 375px) {
  body {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 425px) {
  body {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
@media  (max-width: 768px) {
  body {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
@media  (max-width: 1024px) {
  body {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
} 
