* {
  box-sizing: border-box;
}
.redesbody{
  background-image: url("../images/fondoredes.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
.bodylenguajedemarcas{
  background-image: url("../images/lenguaje1.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
.bodyfundamentos{
  background-image: url("../images/fundamentos1.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
.bodyfol{
  background-image: url("../images/fol.png");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
.bodyisop{
  background-image: url("../images/isop2.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
.fondobasesdedatos{
   background-image: url("../images/basesdedatos1.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
.fondobachillerato{
   background-image: url("../images/bachillerato1.png");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
.fondouniversidad{
   background-image: url("../images/fondouniversidad.png");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
.fondoidiomas{
  background-image: url("../images/fondoidiomas.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
.fondoplaces{
   background-image: url("../images/fondoplaces.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
.fondocine{
  background-image: url("../images/fondocine.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
.fondofiestaspopulares{
  background-image: url("../images/fondofiestaspopulares.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
.fondodeportes{
  background-image: url("../images/fondodeportes.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
.fondoindex{
  background-color: black;
  background-image: url("../images/redes1.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
h1{
  font-size: 80px;
}
.h1cine{
  color: red;
}
.h1estudiosuniversitarios{
  color: yellow;
}
.h1fiestaspopulares{
  color: #B80000;
}
.h1deportes{
  font-size: 80px;
  color: #163020;
}
.tituloredes{
  color:black;
  font-size: 80px;
  
}
.titulofol{
  fontsize: 80px;
  color: red;
}
.titulolenguajedemarcas{
  color:black;
  fontsize: 80px;
}
header {
  margin: 20px;
  padding: 50px;
  text-align: center;
  font-size: 80px;
  color:white;
}
.andy{
font-size: 85px;
  color:white;
}


nav { 
  display: flex;
  width: 30%;
  background-color:blue;
  padding: 15px;
  font-size:15px;
}
nav:hover{
  background:grey;
}
/* Estilo de la lista dentro del menu */
ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: auto;
  background-color:lightblue;
}
li {
  float:center;
}
li a {
  display: flex;
  color:black;
  padding: 10px 10px;
  text-decoration: none;
}
li a:hover{
  background-color:white;
  color:black;
}


@media  (max-width: 320px) {
    body {
    width: 100%;
    max-width: 100%;
    height: auto;  
  } 
}
@media (max-width: 375px) {
  body {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 425px) {
  body {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
@media  (max-width: 768px) {
  body {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
@media  (max-width: 1024px) {
  body {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
} 
